{% load static %}
<!--Footer starts-->
        <div class="row mt-0 bg-danger-subtle p-3 text-black bg-opacity-25">
            <div class="col-md-4">
            <h5>Address</h5>
            Floor no:3,<br>
            Reshwa street,<br>
            Shashtri Nagar,<br>
            Ahmedabad<br>
            <i class="bi bi-telephone-fill text-danger"></i>&nbsp;&nbsp;&nbsp;&nbsp;: 25469484615<br>
            <i class="bi bi-envelope-fill text-danger"></i>&nbsp;&nbsp;&nbsp;&nbsp;:email@gmail.com<br>

            <hr>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <hr>
                <p><a class="anchor" href="index.html">Home</a></p>
                <p><a class="anchor" href="about.html">About</a></p>
                <p><a class="anchor" href="cart.html">Cart</a></p>
                <p><a class="anchor" href="contact.html">Contact</a></p>   
            </div>
            <div class="col-md-4">
                <h5>Contact us </h5>
                <hr>
                <h5><a href="http://www.facebook.com"><i class="bi bi-facebook"></i></a></h5>
                <h5><a href="http://www.twitter.com"><i class="bi bi-twitter"></i></a></h5>
                <h5><a href="http://www.instagram.com"><i class="bi bi-instagram"></i></a></h5>
                <h5><a href="http://www.linkedin.com"><i class="bi bi-linkedin"></i></a></h5>
            </div>
        </div>

<!--footer ends-->
      
    <script src="{% static 'asset/js/popper.min.js'%}"></script><!--popper file for dropdown step1-->
    <script src="{% static 'asset/js/bootstrap.min.js'%}"></script><!--linking bootstrap.min step2-->