{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="{% static 'asset/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'asset/css/style.css' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"/>
    
</head>
<body class="bg-danger-subtle">
   
<!--Login start-->
    <div class="container-fluid">
        <div class="row mt-5 p-5 bg-danger-subtle text-emphasis-danger">
            <div class="col-md-6 bg-light p-3 mx-auto shadow">
                <form method="POST" action="/login">
                    {% csrf_token %}
                    <h5>Login Form</h5>
                    {% if errmsg %}
                        <div class="alert alert_danger">
                            {{errmsg}}
                        </div>
                   
                    {% endif %}
                    <div class="row mt-3">
                        <div class="col-md-8">
                            <label for="input4">Enter Email:</label>
                            <input type="email" class="form-control mt-3" id="input4" name="uemail" placeholder="Email@">
                        </div>
                       
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-8">
                            <label for="input5">Enter Password:</label>
                            <input type="password" class="form-control mt-3" id="input5" name="upass" placeholder="password">
                        </div>
                     
                    </div>
                                     
                    <div class="row mt-3">
                        <div class="col-md-12" style="text-align:center;">
                            <input type="submit" class="btn btn-outline-dark" value="Login">
                           
                        </div>
                       
                    </div>
                    <hr>
                            <div class="row">
                            
                                <div class="col-md-8">
                                Register here!&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="/register"><strong>Register</strong></a>
                                </div>
                                <div class="col-md-4">
                                    <a href="/home" class="btn btn-secondary"><strong>Back</strong></a></p>
                                </div>
                            </div>
                    
                </form>
            </div>
        </div>
    </div>
 <!--login ends--> 
 <script src="{% static 'asset/js/popper.min.js' %}"></script><!--popper file for dropdown step1-->
 <script src="{% static 'asset/js/bootstrap.min.js' %}"></script><!--linking bootstrap.min step2-->
 </body>
 </html>
 