{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRATION</title>
    <link rel="stylesheet" href="{% static 'asset/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'asset/css/style.css' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"/>
    
</head>
<body style="background-color:#03031d">
   
<!--Registration start-->
    <div class="container-fluid ">
        <div class="row p-3 mt-5 text-white">
            <div class="col-md-6  p-3  mx-auto border">
                <form method="POST" action="/register">
                    {% csrf_token %}
                    <h5>Registration Form</h5>
                    {% if errmsg %} 
                        <div class="alert alert-danger">
                            {{errmsg}}
                        </div>
                    {% endif %}
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <label for="input1">Enter First Name:</label>
                            <input type="text" class="form-control mt-3" id="input1" name="fname">
                        </div>
                        <div class="col-md-6">
                            <label for="input2">Enter Last Name:</label>
                            <input type="text" class="form-control mt-3" id="input2" name="lname">
                        </div>
                    </div>
                  
                    
                    <div class="row mt-3">
                        <div class="col-md-8">
                            <label for="input4">Enter Email:</label>
                            <input type="email" class="form-control mt-3" id="input4" name="uemail">
                        </div>
                       
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-5">
                            <label for="input4">Enter Password:</label>
                            <input type="password" class="form-control mt-3" id="input4" name="upass">
                        </div>
                     
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-5">
                            <label for="input5">Confirm Password:</label>
                            <input type="password" class="form-control mt-3" id="input5" name="ucpass">
                        </div>
                    </div>
                   
                    <div class="row mt-3">
                        <div class="col" style="text-align:center;">
                            <input type="submit" class="btn btn-danger" value="Register">
                            <hr>
                            <div class="row">
                            
                                <div class="col-md-8">
                                Already User!&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="/login"><strong>Login</strong></a>
                                </div>
                                <div class="col-md-4">
                                    <a href="/home" class="btn btn-secondary"><strong>Back</strong></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {% if success %} 
                        <div class="alert alert-success">
                            {{success}}
                        </div>
                    {% endif %}      
                </form>

            </div>
        </div>
    </div>
 <!--registration ends--> 
 <script src="{% static 'asset/js/popper.min.js' %}"></script><!--popper file for dropdown step1-->
 <script src="{% static 'asset/js/bootstrap.min.js' %}"></script><!--linking bootstrap.min step2-->
 </body>
 </body>
 </html>
 